<ul>
  <li><%= link_to t(".all_fandoms"), "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %></li>
  <% cache "homepage-fandoms-version1", skip_digest: true do %>
    <% Media.for_menu.each do |medium| %>
      <% unless medium.id.nil? %>
        <li><%= link_to ts("#{medium.name}"), "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
